<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Vraag en Aanbod</title>
		<link rel="stylesheet" href="./css/base.css">
		<link rel="stylesheet" href="./css/index.css">
		<link rel="stylesheet" href="./css/login.css">
	</head>
	<body>
		<section class="prompt">
			<h3>Vraag en aanbod</h3>
			<h1>Inloggen</h1>
			<% if (hasMessages) { %>
			<section class="messages">
				<% messages.forEach(function(message) { %>
				<p><%= message %></p>
				<% }); %>
			</section>
			<% } %>
			<a class="button google" href="./login/federated/google">Login via Google</a>
			<p></p>
			<a class="button google" href="./login/federated/github">Login via Github</a>
			<p></p>
			<a class="button google" href="./login/federated/microsoft">Login via Microsoft</a>
		</section>
		<footer class="info">
			<p>Circulaire grondstromen</p>
		</footer>
	</body>
</html>
